@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
  --color1: #FFFFFFff;
  --color2: #A82513ff;
  --color3: #000000ff;
  --color4: #7A91C0ff;
  --color5: #0D3C8Fff;

  font-family: 'Inconsolata', monospace;
}

nav {
  opacity: .3;
  background-color: var(--color1);
}

nav p {
  cursor: pointer;
  opacity: 1;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  background-color: var(--color4)
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  margin-right: 50px
}

.logo {
  width: 150px;
  margin: 0 0 0 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todayPic {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.todayPic img, .todayPic video {
  border-radius: 20px;
  width: 
}

.descrip {
  width: 800px;
}

.todayPic button {
  border: 1px solid var(--color5);
  width: 80px;
  height: 60px;
  background-color: var(--color2);
  border-radius: 15px;
  margin-bottom: 40px;
}

.todayPic h6 {
  margin-top: 0;
}
